<title>Listing work orders</title>
<h1>Listing all work orders</h1>

<%= form_tag search_search_results_path, :method => 'get' do %>
	<%= text_field_tag :search, params[:search], :placeholder => 	"Search by status" %>
<% end %>

<br>

<table>
  <thead>
    <tr>
	  <th>Worker</th>
      <th>Details</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @work_orders.each do |work_order| %>
      <tr>
		<td><%= work_order.worker_id %></td>
        <td><%= work_order.details %></td>
        <td><%= work_order.status %></td>
        <td><%= link_to 'Show', work_order %></td>
        <td><%= link_to 'Edit', edit_work_order_path(work_order) %></td>
        <td><%= link_to 'Destroy', work_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work order', new_work_order_path %>
